@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #c975b8;
}

h1, h2 {
  margin: 0;
}
* {
  box-sizing: border-box;
}