header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcbee1; /* Morado pastel */
  color: #863cb4; /* Morado más oscuro para contraste */
  padding: 15px 30px;
}

nav button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #555555;
}
.navbar-custom {
  background-color: #f3e5f5;
}

.navbar-custom .nav-link {
  color: #54147c;
}

.navbar-custom .nav-link:hover {
  color: #d291ff;
}